html{
  box-sizing: border-box;
  background-color: #000000;
}
*, *:before,*:after{
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: verdana, geneva, serif;
}
header{
  padding: 5px 0;
}
div.contenedor{
  width: 1200px;
  margin: 0 auto;
}
div.logo img{
  height: 300px;
}
/** Navegación **/
.navegacion{
  background-color:#f2192d ;
}
nav{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
nav ul{
  list-style: none;
}
nav > ul >li{
  float: left;
}
nav ul::after{
  content: '';
  display: block;
  clear: both;
}
nav ul li a{
  display: inline-block;
  width: 200px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}
nav ul li a:hover{
  background-color: #009790;
}
/** Segundo nivel **/

nav ul ul{
  position: absolute;
  top:100%;
  background-color: rgba(25, 138, 214, 0.5);
  display: none;
}
nav ul li:hover >ul{
  display: block;
}
nav ul li:hover{
  background-color: #009790;
}
/** Contenido Principal **/

div.contenido::after{
  content: '';
  display: block;
  clear: both;
}
main{
  width: 70%;
  float: left;
  padding-right: 40px;
}
/**Entradas de post **/
article{
  margin-top: 30px;
}
h1{
  color: white;
  margin-top: 50px;
  text-align: center;
}
h2{
  color: #FFFFFF;
  margin-bottom: 20px;
}

article img{
  float: left;
  width: 300px;
  margin-right: 30px;
}
article img.izq{
  float: right;
  margin-left: 30px;
}
article p{
  color: white;
  line-height: 2;
  text-align: justify;
}
.boton{
  background-color: #f2192d;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}
/**sidebar**/
aside{
  float: right;
  width: 30%;
  margin-top: 30px;
}
aside ul{
  list-style: none;
}
aside ul li{
  padding: 10px 0 10px 10px;
}
aside ul li:hover{
  background-color: #00b8e4;
  cursor: pointer;
}
aside ul li a{
  color: #00b8e4;
  text-decoration: none;
}
aside ul li:hover a{
  color: #FFFFFF;
}

/**footer **/

footer{
  background-color: #f2192d ;
  padding-top: 40px;
  margin-top: 30px;
}
footer h2{
  color:#FFFFFF;
}
footer .contenedor::after{
  content: '';
  display: block;
  clear: both;
}
footer div.nosotros{
  float: left;
  width: 30%;
  color: #FFFFFF;
  text-align: justify;
}
footer div.menu{
  float: right;
  width: 40%;
}
footer nav{
  width: auto;
}
footer nav ul li a{
  width: auto;
}
p.copyright{
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
}
